/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: sans-serif;
  color: white;
}

a {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
}

button {
  padding: 5px 40px;
  font-size: 4rem;
  font-weight: 700;
  background: transparent;
  color: inherit;
  cursor: pointer;
  border: none;
}

.generate {
  position: fixed;
  top: 150px;
}

button:hover {
  color: #ff5858;
}

.toggleMode {
  background: url(../assets/toggle-dark.png);
  height: 120px;
  width: 120px;
  background-size: cover;
}

.toggleMode--light {
  background: url(../assets/toggle-light.png);
  height: 120px;
  width: 120px;
  background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
  position: fixed;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: flex-end;
}

.main__outer {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__inner {
  text-align: center;
  padding: 0 50px;
}

@media (max-width: 870px) {
  a {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .main__inner {
    padding: 0 20px;
  }
}

/* LIGHT MODE */

.text--light {
  color: black;
}

.main--light {
  background: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
